@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    min-height: 100vh;
    background: -webkit-linear-gradient(left, #34495e, rgb(247, 194, 49));
    padding-bottom: 70px;
}

.container form{
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container form .row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container form .row .col{
    flex: 1 1 250px;
}

.col .title a{
    text-decoration: none;
}

.container form .row .col .title::before{
    content: '';
    position: absolute;
    left: 0; 
    bottom: 5px;
    height: 3px; 
    width: 30px;
    background-color: rgb(247, 194, 49);
    border-radius: 50px;
}

.container form .row .col .title{
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.container form .row .col .input-box{
    margin: 15px 0;
}

.container form .row .col .input-box span{
    margin-bottom: 10px;
    display: block;
}

.container form .row .col .input-box input{
    width: 100%;
    border: 1px solid #34495e;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.container form .row .col .input-box input:focus{
    border: 1px solid rgb(247, 194, 49);
}

.container form .row .col .flex{
    display: flex;
    gap: 15px;
}

.container form .row .col .flex .input-box{
    margin-top: 5px;
}


.container form .row .col .input-box img{
    height: 35px;
    margin-top: 0;
    margin-bottom: 0;
    filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
    width: 100%;
    padding: 12 px;
    font-size: 17px;
    background: rgb(247, 194, 49);
    color: #fff;
    margin-top: 5 px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.container form .submit-btn:hover{
    background:#34495e;

}